* {
    box-sizing: border-box;
    margin: 30px;
    padding: 0px;
}

.div1 {
    height: 2000px;
    width: 500px;
    margin: auto;
    background-color: yellow;
    margin-bottom: 300px;
}

.div2 {
    height: 100%;
    width: 300px;
    margin: auto;
    background-color: green;
}