* {
    box-sizing: border-box;
    margin: 30px;
    padding: 0px;
}

.div1 {
    height: 100px;
    width: 100px;
    margin: 100px;
    background-color: yellow;
}

.div2 {
    height: 100px;
    width: 100px;
    margin: 100px;
    background-color: green;
}

.div3 {
    height: 100px;
    width: 100px;
    margin: 100px;
    background-color: blue;
    cursor: pointer;
}